{% extends "layout.html" %}
{% block title %}Blog feed{% endblock %}
{% block header %} Blog feed {% endblock %}
{% block content %}
{% if session.user_id %}
<div class="container bg-lightblue fs-5">
  <nav class="navbar navbar-expand-sm navbar-light justify-content-center">
    <a class="navbar-brand" >You are logged in as {{user[0][0]}}.</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/new">New post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/viewprofile/{{ user[1] }}">View your own profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search users or posts</a>
      </li>
      {% if not filter %}
      <li class="nav-item">
        <a class="nav-link" href="/filter">Filter feed by following</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/">View all posts</a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% else %}
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">You are not logged in.</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login">Log in</a>
      </li>
    </ul>
  </nav>
{% endif %}
<p></p>
<p></p>

<div class="container">
  <p></p>
  <hr>
  {% for post in posts %}
  <p class="fs-3"><a href="/viewpost/{{ post[0] }}" 
    class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
    {{ post[1] }}</a></p>
  <p>
  <div class="fs-4">
    <strong>User:</strong> {{ post[3] }}
    <p>
    <strong>Posted:</strong> {{ post[4].strftime("%Y-%m-%d") }}
    <p>
    <hr>
  </div>
  {% endfor %}
</div>
{% endblock %}
