{% extends "layout.html" %}
{% block title %}Liked posts{% endblock %}
{% block header %}
Posts you have liked: {% endblock %}
{% block content %}


<div class="container">
    <p></p>
    <div class="text-end">
        <a class="btn btn-outline-secondary" role="button" href="/viewprofile/{{ user }}">Go back to your profile</a>
    <p></p>
    </div>
    <p></p>
    <hr>
    {% for post in liked_posts %}
    
    <p class="fs-3"><a href="/viewpost/{{ post[0] }}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ post[1] }}</a></p>
  
    <p>
    <div class="fs-4">
      <strong>User:</strong> {{ post[3] }}
      <p>
      <strong>Posted:</strong> {{ post[4].strftime("%Y-%m-%d") }}
      <p>
      <hr>
    </div>
  
    {% endfor %}
  </div>


{% endblock %}