{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block header %} Search {% endblock %}
{% block content %}

<form action="/result" method="GET">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingSearch" name="search" placeholder="Search" required>
        <label for="floatingSearch">Search</label>
      </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <br>
    <p></p>
</form>

<p></p>
<a class="btn btn-outline-secondary" role="button" href="/">Go to blog feed</a>
<p></p>
{% endblock %}
